*{margin: 0; padding: 0; 
	box-sizing: border-box;
	font-family: 'Gugi',
	}
	
	main{
	 width: 95%; 
	 margin: 20px auto; 
	 /* border:1px solid grey; */
	 display: grid;
		/* background-color: rgb(182, 174, 174); */
	 grid-template-rows: 50px 200px 300px 50px;
	 grid-template-columns: 150px repeat(3, 1fr);
		grid-gap: 10px;
	 
	}
	
	 .div1{ background-color: #d1d1d1; 
		grid-column: 2/-1;
		border-radius: 5px;
	 }
	 .div2{ background-color: #000000;
	grid-row: 1/5;
	border-radius: 5px; }
	 #div3{ 
		border-radius: 5px;}
	 #div4{
		border-radius: 5px; }
	 #div5{ background-color: #2f3542; 
		border-radius: 5px;
		
	 }
	 #div6{ background-color: #ffa502; 
		grid-column: 2/5;
		border-radius: 5px;
		
	 }
	 .div7{ background-color: #d1d1d1;
		grid-column: 2/5;
		border-radius: 5px;
		}

		.list{
			text-align: center;
			margin-top: 30px;
			line-height: 40px;
			font-size: 20px;
			color: #111;
			font-weight: bolder;
			font-family: Poppins;
			list-style-type: none;

		}
		.list li a{
			text-decoration: none;
			
		}
		.list li a:hover{
			color: #ff5f02;
			border-bottom: 3px solid red;
			font-size: 20px;
		}

		.icons{
			float: right;
			font-size: 25px;
			color: #111;
		
		}
		.icons i{
			padding-right: 15px;
			padding-top: 10px;
		}

		.search{
			float: left;
			padding-left: 50px;
			padding-top: 10px;
		}

		.search input{
			width: 500px;
			height: 30px;
			border-radius: 5px;
			font-size: 20px;
			padding-left: 15px;
		}
.lens i{
			font-size: 20px;
			padding-left: 10px;
			color: #000000;
		}
		.lens a i:hover{
			color: #ff5f02;
		}
		.icons i:hover{
			color: #ff5f02;
			cursor: pointer;
		}
		.copy{
			text-align: center;
			padding-top: 15px;
		}
		.logout{
			float: right;
			font-size: 20px;
			
		}